<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <kc-tabs-scim-list></kc-tabs-scim-list>
    
    <table class="table table-striped table-bordered" id="meta-resource-type-table">
        <thead>
            <tr>
                <th colspan="4">{{:: 'resource.type.meta.heading' | translate}}</th>
            </tr>
            <tr>
                <th class="w-10">{{:: 'name' | translate}}</th>
                <th class="w-35">{{:: 'endpoint' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="resourceType in metaResources.Resources"
                id="{{'meta-' + resourceType.name}}">
                <td class="clip">
                    {{resourceType.name}}
                </td>
                <td class="clip">
                    <a href="{{authUrl + '/realms/' + realm.realm + '/scim/v2' + resourceType.endpoint}}"
                       target="_blank">
                        {{authUrl + '/realms/' + realm.realm + '/scim/v2' + resourceType.endpoint}}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <table class="table table-striped table-bordered" id="resource-type-table">
        <thead>
            <tr>
                <th colspan="5">{{:: 'resource.type.tab.menu' | translate}}</th>
            </tr>
            <tr>
            <tr>
                <th class="w-15">{{:: 'name' | translate}}</th>
                <th class="w-25">{{:: 'endpoint' | translate}}</th>
                <th class="w-15">{{:: 'enabled' | translate}}</th>
                <th class="w-15">{{:: 'requires.authentication' | translate}}</th>
                <th class="w-15">{{:: 'actions' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="resourceType in resource.Resources"
                id="{{resourceType.name}}">
                <td class="clip">
                    <a href="#/realms/{{realm.realm}}/scim/resource-type/{{resourceType.name}}">
                        {{resourceType.name}}
                    </a>
                </td>
                <td class="clip">
                    <a href="{{authUrl + '/realms/' + realm.realm + '/scim/v2' + resourceType.endpoint}}"
                       target="_blank">
                        {{authUrl + '/realms/' + realm.realm + '/scim/v2' + resourceType.endpoint}}
                    </a>
                </td>
                <td class="clip"
                    style="{{isEnabled(resourceType) ? 'background-color: lightgreen'
                                                 : 'background-color: lightcoral'}}">
                    {{isEnabled(resourceType)}}
                </td>
                <td class="clip"
                    style="{{requiresAuthentication(resourceType) ? 'background-color: lightgreen'
                                                              : 'background-color: lightcoral'}}">
                    {{ requiresAuthentication(resourceType) }}
                </td>
                <td class="kc-action-cell"
                    id="edit"
                    kc-open="/realms/{{realm.realm}}/scim/resource-type/{{resourceType.name}}">
                    {{:: 'edit' | translate}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<kc-menu></kc-menu>
