<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
  
  <kc-tabs-scim-list></kc-tabs-scim-list>
  
  <div class="col-md-push-2">
    <h1>{{:: 'service.provider.heading' | translate }}</h1>
    
    <kc-tabs-service-provider></kc-tabs-service-provider>
    
    <form class="form-horizontal" name="serviceProviderForm" novalidate>
      
      <div class="form-group">
        <label class="col-md-2 control-label" class="control-label">
          {{:: 'service.provider.authorization.clients.field' | translate}}
        </label>
        <kc-tooltip>
          {{:: 'service.provider.authorization.clients.field.tooltip' | translate}}
        </kc-tooltip>
        
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-3">
              <label class="control-label" for="available">
                {{:: 'service.provider.authorization.clients.available' | translate}}
              </label>
              <select class="form-control overflow-select" data-ng-model="selectedAvailableClients"
                      data-ng-multiple="true" id="available"
                      multiple
                      realmMappings
                      size="5">
                <option data-ng-repeat="client in availableClients"
                        title="{{client}}" value="{{client}}">
                  {{client}}
                </option>
              </select>
              <button class="btn btn-default"
                      data-ng-click="addAuthorizedClients()"
                      id="add-selected"
                      type="submit">
                {{:: 'add-selected' | translate}} <i class="fa fa-angle-right"></i>
              </button>
              <kc-tooltip>
                {{:: 'service.provider.authorization.clients.available.tooltip' | translate}}
              </kc-tooltip>
            </div>
            
            <div class="col-md-3">
              <label class="control-label" for="assigned">
                {{:: 'service.provider.authorization.clients.assigned' | translate}}
              </label>
              <select class="form-control overflow-select" data-ng-model="selectedAssignedClients"
                      data-ng-multiple="true" id="assigned"
                      multiple
                      size="5">
                <option data-ng-repeat="r in serviceProvider.authorizedClients | orderBy:'name'"
                        title="{{r}}" value="{{r}}">
                  {{r}}
                </option>
              </select>
              <button class="btn btn-default"
                      data-ng-click="removeAuthorizedClients()"
                      id="remove-selected"
                      type="submit">
                <i class="fa fa-angle-double-left"></i> {{:: 'remove-selected' | translate}}
              </button>
              <kc-tooltip>
                {{:: 'service.provider.authorization.clients.assigned.tooltip' | translate}}
              </kc-tooltip>
            </div>
          </div>
        </div>
      </div>
    
    </form>
  </div>
</div>

<kc-menu></kc-menu>
